{% extends 'base.html.twig' %}

{% block head_title %}{% if heading is defined %}{{ heading }}{% endif %}{% endblock head_title %}
{% block page_title %}{% if title is defined %}{{ title }}{% endif %}{% endblock page_title %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/sqrt1764listview/listview.css') }}" />
{% endblock stylesheets %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/sqrt1764listview/listview.js') }}"></script>

    <script type="text/javascript">
        var liste = new Liste('tableData');
    </script>
{% endblock javascript %}


{% block content %}
    {% set columns = listDefinition.getColumns() %}
    {% set hasColSearchfields = false %}
    {% set hasColHeadings = false %}
    {% for col in columns %}
        {% if col.isSearchable() %}{% set hasColSearchfields = true %}{% endif %}
        {% set colHeading = col.getHeading() %}
        {% if colHeading != null and colHeading|length > 0 %}{% set hasColHeadings = true %}{% endif %}
    {% endfor %}
    
    <table class="table table-striped table-hover liste">
        <thead>
            {% if hasColSearchfields  %}
                <tr>
                    {% for col in columns %}
                        <th class="search-input">
                            {% if col.isSearchable() %}
                                {% if col.getSearchMode() == constant('Sqrt1764\\ListViewBundle\\Classes\\ListColumnDef::SEARCH_TEXT')  %}
                                    {# size="1" shrinkt das Eingabefeld erst einmal so daß es bei der Berechung der Spaltenbreite nicht stört. Anschließend wird es von den parent-Elementen mit width 100% wieder auf gezogen. #}
                                    <input id="f_{{ col.getName1() }}" class="form-control" type="text" size="1" value="{{ col.getFiltervalue() }}" onkeyup="liste.filterData('{{ col.getName() }}', '{{ col.getName1() }}')"/>
                                {% elseif col.getSearchMode() == constant('Sqrt1764\\ListViewBundle\\Classes\\ListColumnDef::SEARCH_SELECTION') %}
                                    <select id="f_{{ col.getName1() }}" class="form-control" value="{{ col.getFiltervalue() }}" onchange="liste.filterData('{{ col.getName() }}', '{{ col.getName1() }}')"/>
                                {% endif %}
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            {% endif %}

            {% if hasColHeadings %}
                <tr>
                    {% for col in columns %}
                        {% set colHeading = col.getHeading() %}
                        <th class="tablehead">
                            {% if colHeading != null and colHeading|length > 0 %}
                                <div class="table-headercell">
                                    <div class="table-heading">{{ col.getHeading() }}</div><div class="table-sortaction" onclick="liste.toggleSort('{{ col.getName() }}')">{{ col.getSortIndicator()|raw }}</div>
                                </div>
                            {% else %}
                                &nbsp;
                            {% endif %}
                        </th>
                    {% endfor %}
                </tr>
            {% endif %}
        </thead>

        <tbody id="tableData" data-topic="{{ topic }}" data-searchmodes="{{ listDefinition.getSearchModesJSON()|e('html_attr') }}" data-err="{{ 'list.error'|trans }}">
            {# Für den Fall daß Daten übergeben wurden, diese anzeigen, ansonsten passiert das über Ajax-Calls. #}
            {% if data is defined %}
                {% for row in data %}
                    <tr {{ row.getRowClass1() }}{{ row.itemDetailLink1() }}>
                        {% for col in columns %}
                            <td {{ row.getCellClass1(col.getName()) }}>{{ row.getContent1(col.getName()) | raw }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock content %}
