.table.liste td, 
.table.liste th {
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
}
table.liste th.search-input {
    padding-left: 0px;
}
table.liste th.search-input:last-child {
    padding-right: 0px;
}
table.liste .form-control {
    padding-top: 3px; 
    padding-bottom: 3px; 
    height: 2.1em;        
    padding-left: 4px !important;           /* TODO ML: Irgendwer setzt bei den input-Elementenim Header ein padding-left von 12px - Keine Ahnung wo das her kommt! Daher erstmal mit !important erwzingen! */
}
table.liste select.form-control {
    margin-top: 0px; 
}

table.liste .table-headercell {
    width: 100%; 
    display: flex; 
    flex-direction: row;        
}
table.liste .table-heading {
    flex-grow: 1;
    line-height: 2em;
}
table.liste .table-sortaction {
    cursor:           pointer;
    font-family:      "FontAwesome";
    text-align:       center;
    width:            1.5em;
    font-size:        1.5em;
}
